﻿@using eGov_POC_Cashiering_System.Models
@using eGov_POC_Cashiering_System.App_Code

@{
    ViewBag.Title = "Add Employee";
}

@model EmployeesViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Add a new employee.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.RegisterModel.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <input type="text" autocomplete="off" name="Name" class="form-control">
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RegisterModel.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <input type="text" autocomplete="off" name="UserName" class="form-control">
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RegisterModel.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <input type="text" autocomplete="off" name="Email" class="form-control">
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RegisterModel.Roles, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <select name="Roles" multiple="multiple">
                @foreach (Role Role in Model.EmployeeRoleProperties)
                {
                    if (Utilities.HigherThanUserRole(User, Role) || User.IsInRole("Administrator"))
                    {
                        <option value="@Role.ID">@Role.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RegisterModel.Location, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <select name="Location" class="form-control">
                @foreach (Location Location in Model.Locations)
                {
                    <option value="@Location.ID">@Location.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" class="btn btn-default" value="Complete" />
        </div>
    </div>
}

<script type="text/javascript">
    window.addEventListener("load", function (event) {
        $(document.getElementsByName("Roles")[0]).multiselect();
    }, false);
</script>