﻿@using Microsoft.AspNet.Identity;
@using eGov_POC_Cashiering_System.Models
@using eGov_POC_Cashiering_System.App_Code
@{
    ViewBag.Title = "Employee";
}
@model EmployeesViewModel

@{
    int count = Model.Employees.Aggregate(0, (acc, Employee) => acc + 1);
}

<div class="row padding-bottom-md" style="float: right">
    @if (Utilities.HasPrivilege(User, "AddEmployee"))
    {
        <div class="col-sm-sm-4">
            <div class="btn btn-md btn-success" onclick="location.href='@Url.Action("AddEmployee", "Employees")'">
                <span class="glyphicon glyphicon-plus">&nbsp;</span>Add
            </div>
        </div>
    }
</div>

<div class="row padding-bottom-md">
    <div class="col-sm-sm-12">
        <div class="div-table">
            <div>
                <div class="div-table-cell middle th col-sm-2">
                    Name
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    User Name
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Email
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Roles
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Location
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Actions
                </div>
            </div>
            @if (Model.Employees != null && Model.Employees.Count() > 0)
            {
                foreach (Employee Employee in Model.Employees)
                {
                    if (Request.QueryString["editing"] == Employee.ID)
                    {
                        using (Html.BeginForm("SaveEmployee", "Employees", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="text" autocomplete="off" name="Name" class="form-control" value="@Html.DisplayFor(modelEmployee => Employee.Name)">
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="text" autocomplete="off" name="UserName" class="form-control" value="@Html.DisplayFor(modelEmployee => Employee.UserName)">
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="text" autocomplete="off" name="Email" class="form-control" value="@Html.DisplayFor(modelEmployee => Employee.Email)">
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <select name="Roles" multiple="multiple">
                                    @foreach (Role Role in Model.EmployeeRoleProperties)
                                    {
                                        if (Utilities.HigherThanUserRole(User, Employee))
                                        {
                                            if (Employee.Roles.Find(x => x.ID == Role.ID) != null)
                                            {
                                                <option value="@Role.ID" selected>@Role.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@Role.ID">@Role.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <select name="Location" class="form-control">
                                    @foreach (Location Location in Model.Locations)
                                    {
                                        if (Employee.Location == Location.ID)
                                        {
                                            <option value="@Location.ID" selected>@Location.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@Location.ID">@Location.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="hidden" name="ID" value="@Html.DisplayFor(modelEmployee => Employee.ID)">
                                <div class="btn btn-sm btn-success pull-right" onclick="SubmitClosestForm(this);">
                                    Save
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <div class="div-table-cell middle td col-sm-2">
                                @Html.DisplayFor(modelEmployee => Employee.Name)
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                @Html.DisplayFor(modelEmployee => Employee.UserName)
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                @Html.DisplayFor(modelEmployee => Employee.Email)
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                @foreach (EmployeeRole Role in Employee.Roles)
                                {
                                    <span>@Model.EmployeeRoleProperties.Find(x => x.ID == Role.ID).Name</span><span>;</span>
                                }
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                @Model.Locations.Find(x => x.ID == Employee.Location).Name
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                @if (
                                    Utilities.HasPrivilege(User, "EditEmployee")
                                    &&
                                    (Utilities.HigherThanUserRole(User, Employee) || User.IsInRole("Administrator"))
                                    &&
                                    Employee.ID != User.Identity.GetUserId()
                                )
                                {
                                    using (Html.BeginForm("EditEmployee", "Employees", FormMethod.Post, new { @class = "pull-left" }))
                                    {
                                        <input type="hidden" name="ID" value="@Html.DisplayFor(modelEmployee => Employee.ID)">
                                        <div class="btn btn-sm btn-default" onclick="SubmitClosestForm(this);">
                                            Edit
                                        </div>
                                    }
                                }
                                &nbsp;
                                @if (
                                    Utilities.HasPrivilege(User, "RemoveEmployee")
                                    &&
                                    (Utilities.HigherThanUserRole(User, Employee) || User.IsInRole("Administrator"))
                                    &&
                                    Employee.ID != User.Identity.GetUserId()
                                )
                                {
                                    using (Html.BeginForm("RemoveEmployee", "Employees", FormMethod.Post, new { @class = "pull-right" }))
                                    {
                                        <input type="hidden" name="ID" value="@Html.DisplayFor(modelEmployee => Employee.ID)">
                                        <div class="btn btn-sm btn-danger" onclick="SubmitClosestForm(this);">
                                            Remove
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="row">
                    <div class="col-sm-22">
                        <h4 class="text-center">Empty.</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (Request.QueryString["editing"] != null)
{
    <script type="text/javascript">
        window.addEventListener("load", function (event) {
            $(document.getElementsByName("Roles")[0]).multiselect();
        }, false);
    </script>
}