﻿@using Microsoft.AspNet.Identity
@using eGov_POC_Cashiering_System.App_Code
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eGov POC Cashiering System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    eGov POC Cashiering System
                </div>
            </div>

            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav border-left">
                        @if (Utilities.HasPrivilegeGroup(User, "Sales"))
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Sales" ? "active" : "")">
                                @Html.ActionLink("Sales", "Index", "Sales")
                            </li>
                        }
                        @if (Utilities.HasPrivilegeGroup(User, "Items"))
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Items" ? "active" : "")">
                                @Html.ActionLink("Items", "Index", "Items")
                            </li>
                        }
                        @if (Utilities.HasPrivilegeGroup(User, "EODReports"))
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "EODReports" ? "active" : "")">
                                @Html.ActionLink("EOD", "Index", "EODReports")
                            </li>
                        }
                        @if (Utilities.HasPrivilegeGroup(User, "Insights"))
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Insights" ? "active" : "")">
                                @Html.ActionLink("Insights", "Index", "Insights")
                            </li>
                        }
                        @if (Utilities.HasPrivilegeGroup(User, "Employees"))
                        {
                            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Employees" ? "active" : "")">
                                @Html.ActionLink("Employees", "Index", "Employees")
                            </li>
                        }
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Settings" ? "active" : "")">
                            @Html.ActionLink("Settings", "Index", "Settings")
                        </li>
                    </ul>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navbar-text">
                                @User.Identity.GetUserName()
                            </li>
                            |
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
                        </ul>
                    }
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - eGov Jamaica Ltd</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/printThis")
    @RenderSection("scripts", required: false)
</body>
</html>
