﻿@using eGov_POC_Cashiering_System.Models
@using eGov_POC_Cashiering_System.App_Code
@{
    ViewBag.Title = "Items";
}
@model ItemsViewModel

@{
    int count = Model.Items.Aggregate(0, (acc, item) => acc + 1);
}

<div class="row padding-bottom-md" style="float: right">
    <div class="col-sm-sm-4">
        @if (Utilities.HasPrivilege(User, "AddItem"))
        {
            <div class="btn btn-md btn-success" onclick="location.href='@Url.Action("AddItem", "Items")'">
                <span class="glyphicon glyphicon-plus">&nbsp;</span>Add
            </div>
        }
    </div>
</div>

<div class="row padding-bottom-md">
    <div class="col-sm-sm-12">
        <div class="div-table">
            <div>
                <div class="div-table-cell middle th col-sm-3">
                    Name
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Cost
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Price
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Quantity
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Actions
                </div>
            </div>
            @if (Model.Items != null && Model.Items.Count() > 0)
            {
                foreach (Item item in Model.Items)
                {
                    if (Request.QueryString["editing"] == item.ID)
                    {
                        using (Html.BeginForm("SaveItem", "Items", FormMethod.Post))
                        {
                            <div class="div-table-cell middle td col-sm-3">
                                <input type="text" autocomplete="off" name="Name" class="form-control" value="@Html.DisplayFor(modelItem => item.Name)">
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="number" step=".01" autocomplete="off" name="Cost" class="form-control" value="@Html.DisplayFor(modelItem => item.Cost)">
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="number" step=".01" autocomplete="off" name="Price" class="form-control" value="@Html.DisplayFor(modelItem => item.Price)">
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="number" autocomplete="off" name="Quantity" class="form-control" value="@Html.DisplayFor(modelItem => item.Quantity)">
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="hidden" name="ID" value="@Html.DisplayFor(modelItem => item.ID)">
                                <div class="btn btn-sm btn-success pull-right" onclick="SubmitClosestForm(this);">
                                    Save Item
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <div class="div-table-cell middle td col-sm-3">
                                @Html.DisplayFor(modelItem => item.Name)
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                $ @Html.DisplayFor(modelItem => item.Cost)
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                $ @Html.DisplayFor(modelItem => item.Price)
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                @if (Utilities.HasPrivilege(User, "EditItem"))
                                {
                                    using (Html.BeginForm("EditItem", "Items", FormMethod.Post, new { @class = "pull-left" }))
                                    {
                                        <input type="hidden" name="ID" value="@Html.DisplayFor(modelItem => item.ID)">
                                        <div class="btn btn-sm btn-default" onclick="SubmitClosestForm(this);">
                                            Edit
                                        </div>
                                    }
                                }
                                &nbsp;
                                @if (Utilities.HasPrivilege(User, "RemoveItem"))
                                {
                                    using (Html.BeginForm("RemoveItem", "Items", FormMethod.Post, new { @class = "pull-right" }))
                                    {
                                        <input type="hidden" name="ID" value="@Html.DisplayFor(modelItem => item.ID)">
                                        <div class="btn btn-sm btn-danger" onclick="SubmitClosestForm(this);">
                                            Remove
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="row">
                    <div class="col-sm-11">
                        <h4 class="text-center">Empty.</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>