﻿@using eGov_POC_Cashiering_System.Models
@using eGov_POC_Cashiering_System.App_Code
@{
    ViewBag.Title = "EOD Reports";
}
@model EODReportsViewModel

<div class="row padding-bottom-md" style="float: right">
    <div class="col-sm-sm-4">
        @if (Utilities.HasPrivilege(User, "AddEODReport"))
        {
            <div class="btn btn-md btn-success" onclick="location.href='@Url.Action("AddEODReport", "EODReports")'">
                <span class="glyphicon glyphicon-plus">&nbsp;</span>Add
            </div>
        }
    </div>
</div>

<div class="row padding-bottom-md">
    <div class="col-sm-sm-12">
        <div class="div-table">
            <div>
                <div class="div-table-cell middle th col-sm-2">
                    Date Opened
                </div>
                <div class="div-table-cell middle th col-sm-1">
                    Open Cash
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Close Date
                </div>
                <div class="div-table-cell middle th col-sm-3">
                    Closed By
                </div>
                <div class="div-table-cell middle th col-sm-1">
                    In Hand
                </div>
                <div class="div-table-cell middle th col-sm-1">
                    Difference
                </div>
                <div class="div-table-cell middle th col-sm-2">
                    Actions
                </div>
            </div>
            @if (Model.EODReports != null && Model.EODReports.Count() > 0)
            {
                foreach (EODReport item in Model.EODReports)
                {
                    if (Request.QueryString["editing"] == item.ID)
                    {
                        using (Html.BeginForm("SaveEODReport", "EODReports", FormMethod.Post))
                        {
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="datetime-local" autocomplete="off" name="DateOpened" class="form-control" value="@Html.DisplayFor(modelEODReport => item.DateOpened)">
                            </div>
                            <div class="div-table-cell middle td col-sm-1">
                                <input type="number" step=".01" autocomplete="off" name="OpenCash" class="form-control" value="@Html.DisplayFor(modelEODReport => item.OpenCash)">
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="datetime-local" autocomplete="off" name="CloseDate" class="form-control" value="@Html.DisplayFor(modelEODReport => item.CloseDate)">
                            </div>
                            <div class="div-table-cell middle td col-sm-3">
                                @Model.Employees.Find(x => x.ID == item.ClosedBy).Name
                            </div>
                            <div class="div-table-cell middle td col-sm-1">
                                <input type="number" step=".01" autocomplete="off" name="InHand" class="form-control" value="@Html.DisplayFor(modelEODReport => item.InHand)">
                            </div>
                            <div class="div-table-cell middle td col-sm-1">
                                <input type="number" step=".01" autocomplete="off" name="InHand" class="form-control" value="@Html.DisplayFor(modelEODReport => item.InHand)">
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                <input type="hidden" name="ID" value="@Html.DisplayFor(modelEODReport => item.ID)">
                                <div class="btn btn-sm btn-success pull-right" onclick="SubmitClosestForm(this);">
                                    Save
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <div class="div-table-cell middle td col-sm-3">
                                @Html.DisplayFor(modelEODReport => item.DateOpened)
                            </div>
                            <div class="div-table-cell middle td col-sm-1">
                                $ @Html.DisplayFor(modelEODReport => item.OpenCash)
                            </div>
                            <div class="div-table-cell middle td col-sm-3">
                                @Html.DisplayFor(modelEODReport => item.CloseDate)
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                @Model.Employees.Find(x => x.ID == item.ClosedBy).Name
                            </div>
                            <div class="div-table-cell middle td col-sm-1">
                                $ @Html.DisplayFor(modelEODReport => item.InHand)
                            </div>
                            <div class="div-table-cell middle td col-sm-1">
                                @Html.DisplayFor(modelEODReport => item.InHand)
                            </div>
                            <div class="div-table-cell middle td col-sm-2">
                                @if (Utilities.HasPrivilege(User, "EditEODReport"))
                                {
                                    using (Html.BeginForm("EditEODReport", "EODReports", FormMethod.Post, new { @class = "pull-left" }))
                                    {
                                        <input type="hidden" name="ID" value="@Html.DisplayFor(modelEODReport => item.ID)">
                                        <div class="btn btn-sm btn-default" onclick="SubmitClosestForm(this);">
                                            Edit
                                        </div>
                                    }
                                }
                                &nbsp;
                                @if (Utilities.HasPrivilege(User, "RemoveEODReport"))
                                {
                                    using (Html.BeginForm("RemoveEODReport", "EODReports", FormMethod.Post, new { @class = "pull-right" }))
                                    {
                                        <input type="hidden" name="ID" value="@Html.DisplayFor(modelEODReport => item.ID)">
                                        <div class="btn btn-sm btn-danger" onclick="SubmitClosestForm(this);">
                                            Remove
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-center">Empty.</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>