﻿@using eGov_POC_Cashiering_System.Models
@{
    ViewBag.Title = "Location";
}
@model LocationsViewModel

<div class="row padding-bottom-md" style="float: right">
    <div class="col-sm-sm-4">
        <div class="btn btn-md btn-success" onclick="location.href='@Url.Action("AddLocation", "Settings")'">
            <span class="glyphicon glyphicon-plus">&nbsp;</span>Add
        </div>
    </div>
</div>

<div class="row padding-bottom-md">
    <div class="col-sm-12">
        <div class="div-table">
            <div>
                <div class="div-table-cell middle th col-sm-6">
                    Name
                </div>
                <div class="div-table-cell middle th col-sm-6">
                    Actions
                </div>
            </div>
            @if (Model.Locations != null && Model.Locations.Count() > 0)
            {
                foreach (Location Location in Model.Locations)
                {
                    if (Request.QueryString["editing"] == Location.ID)
                    {
                        using (Html.BeginForm("SaveLocation", "Settings", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="div-table-cell middle td col-sm-6">
                                <input type="text" autocomplete="off" name="Name" class="form-control" value="@Html.DisplayFor(modelLocation => Location.Name)">
                            </div>
                            <div class="div-table-cell middle td col-sm-6">
                                <input type="hidden" name="ID" value="@Html.DisplayFor(modelLocation => Location.ID)">
                                <div class="btn btn-sm btn-success pull-right" onclick="SubmitClosestForm(this);">
                                    Save
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <div class="div-table-cell middle td col-sm-6">
                                @Html.DisplayFor(modelLocation => Location.Name)
                            </div>
                            <div class="div-table-cell middle td col-sm-6">
                                @using (Html.BeginForm("EditLocation", "Settings", FormMethod.Post, new { @class = "pull-left" }))
                                {
                                    <input type="hidden" name="ID" value="@Html.DisplayFor(modelLocation => Location.ID)">
                                    <div class="btn btn-sm btn-default" onclick="SubmitClosestForm(this);">
                                        Edit
                                    </div>
                                }
                                &nbsp;
                                @using (Html.BeginForm("RemoveLocation", "Settings", FormMethod.Post, new { @class = "pull-right" }))
                                {
                                    <input type="hidden" name="ID" value="@Html.DisplayFor(modelLocation => Location.ID)">
                                    <div class="btn btn-sm btn-danger" onclick="SubmitClosestForm(this);">
                                        Remove
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="text-center">Empty.</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>