﻿@using eGov_POC_Cashiering_System.Models
@{
    ViewBag.Title = "Roles";
}
@model RolesViewModel

<div class="row padding-bottom-md" style="float: right">
    <div class="col-sm-sm-4">
        <div class="btn btn-md btn-success" onclick="location.href='@Url.Action("AddRole", "Settings")'">
            <span class="glyphicon glyphicon-plus">&nbsp;</span>Add
        </div>
    </div>
</div>

<div class="row padding-bottom-md">
    <div class="col-sm-12">
        <div class="div-table">
            <div>
                <div class="div-table-cell middle th col-sm-3">
                    Name
                </div>
                <div class="div-table-cell middle th col-sm-3">
                    Level
                </div>
                <div class="div-table-cell middle th col-sm-3">
                    Privileges
                </div>
                <div class="div-table-cell middle th col-sm-3">
                    Actions
                </div>
            </div>
            @if (Model.Roles != null && Model.Roles.Count() > 0)
            {
                foreach (Role Role in Model.Roles)
                {
                    if (Request.QueryString["editing"] == Role.ID)
                    {
                        using (Html.BeginForm("SaveRole", "Settings", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="div-table-cell middle td col-sm-3">
                                <input type="text" autocomplete="off" name="Name" class="form-control" value="@Html.DisplayFor(modelRole => Role.Name)">
                            </div>
                            <div class="div-table-cell middle td col-sm-3">
                                <input type="number" autocomplete="off" name="Level" class="form-control" value="@Html.DisplayFor(modelRole => Role.Level)">
                            </div>
                            <div class="div-table-cell middle td col-sm-3">
                                <select name="Privileges" class="form-control" multiple>
                                    @foreach (Privilege Privilege in Model.Privileges)
                                    {
                                        if (Role.Privileges.Contains(new RolePrivilege { Name = Privilege.Name }))
                                        {
                                            <option value="@Privilege.Name" selected>@Privilege.Name (@Privilege.Group)</option>
                                        }
                                        else
                                        {
                                            <option value="@Privilege.Name">@Privilege.Name (@Privilege.Group)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="div-table-cell middle td col-sm-3">
                                <input type="hidden" name="ID" value="@Html.DisplayFor(modelRole => Role.ID)">
                                <div class="btn btn-sm btn-success pull-right" onclick="SubmitClosestForm(this);">
                                    Save
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <div class="div-table-cell middle td col-sm-3">
                                @Html.DisplayFor(modelRole => Role.Name)
                            </div>
                            <div class="div-table-cell middle td col-sm-3">
                                @Html.DisplayFor(modelRole => Role.Level)
                            </div>
                            <div class="div-table-cell middle td col-sm-3">
                                @if (Role.Name == "Administrator")
                                {
                                    <span>All</span>
                                }
                                else
                                {
                                    foreach (RolePrivilege RolePrivilege in Role.Privileges)
                                    {
                                        Privilege Privilege = Model.Privileges.Find(x => x.Name == RolePrivilege.Name);
                                        <span>@Privilege.Name (@Privilege.Group)</span><span>;</span>
                                    }
                                }
                                </div>
                            <div class="div-table-cell middle td col-sm-3">
                                @if(Role.Name != "Administrator"){
                                    using (Html.BeginForm("EditRole", "Settings", FormMethod.Post, new { @class = "pull-left" }))
                                    {
                                        <input type="hidden" name="ID" value="@Html.DisplayFor(modelRole => Role.ID)">
                                        <div class="btn btn-sm btn-default" onclick="SubmitClosestForm(this);">
                                            Edit
                                        </div>
                                    }
                                    <span>&nbsp;</span>
                                    using (Html.BeginForm("RemoveRole", "Settings", FormMethod.Post, new { @class = "pull-right" }))
                                    {
                                        <input type="hidden" name="ID" value="@Html.DisplayFor(modelRole => Role.ID)">
                                        <div class="btn btn-sm btn-danger" onclick="SubmitClosestForm(this);">
                                            Remove
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="text-center">Empty.</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    window.addEventListener("load", function (event) {
        $(document.getElementsByName("Privileges")[0]).multiselect();
    }, false);
</script>