﻿@using eGov_POC_Cashiering_System.Models
@{
    ViewBag.Title = Model.Transaction.Type + "s Receipt";
}
@model SalesViewModel

@{
    int quantity = Model.Transaction.Items.Aggregate(0, (acc, item) => acc + item.Quantity);
    decimal subtotal = Model.Transaction.Items.Aggregate(0, (decimal acc, TransactionItem item) => acc + (item.Price * (decimal)(item.Quantity)));
}

    <div id="receipt" class="padding-bottom-md">
        <table class="full-width">
            <tr>
                <td style="width: 25%;">
                    <div class="btn btn-sm btn-default" onclick="window.location = '/Sales';">
                        <span class="glyphicon glyphicon-chevron-left">&nbsp;</span>Back to Sales
                    </div>
                </td>
                <td style="width: 50%;">
                    <h3 class="full-width text-center">
                       eGov's @ViewBag.Title
                    </h3>
                </td>
                <td style="width: 25%; text-align: right;">
                    <div class="btn btn-sm btn-default" onclick="$('#receipt').printThis();">
                        <span class="glyphicon glyphicon-print">&nbsp;</span>Print
                    </div>
                </td>
            </tr>
        </table>
        <hr class="margin-y-sm" />
        <br />
        <table class="full-width">
            <tr>
                <td style="width: 15%;">Receipt Number:</td>
                <td style="width: 15%;">
                    @Html.DisplayFor(modelItem => Model.Transaction.ReceiptNumber)
                </td>
                <td style="width: 70%;"></td>
            </tr>
            <tr>
                <td style="width: 15%;">Customer ID (TRN):</td>
                <td style="width: 15%;">
                    @Html.DisplayFor(modelItem => Model.Transaction.CustomerID)
                </td>
                <td style="width: 70%;"></td>
            </tr>
            <tr>
                <td style="width: 15%;">Customer Name:</td>
                <td style="width: 15%;">
                    @Html.DisplayFor(modelItem => Model.CustomerName)
                </td>
                <td style="width: 70%;"></td>
            </tr>
            <tr>
                <td style="width: 15%;">Payee ID (TRN):</td>
                <td style="width: 15%;">
                    @Html.DisplayFor(modelItem => Model.Transaction.PayeeID)
                </td>
                <td style="width: 70%;"></td>
            </tr>
            <tr>
                <td style="width: 15%;">Payee Name:</td>
                <td style="width: 15%;">
                    @Html.DisplayFor(modelItem => Model.PayeeName)
                </td>
                <td style="width: 70%;"></td>
            </tr>
        </table>
        <hr class="margin-y-sm" />
        <br />
        <table class="full-width">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>
            </tr>
            @foreach (TransactionItem item in Model.Transaction.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
            }
        </table>
        <hr class="margin-y-sm" />
        <br />
        <table class="full-width">
            <tr>
                <td style="width: 70%;"></td>
                <td style="width: 15%;">Number of items</td>
                <td style="width: 15%; text-align: right;">
                    @quantity
                </td>
            </tr>
            <tr>
                <td style="width: 70%;"></td>
                <td style="width: 15%;">Sub-total</td>
                <td style="width: 15%; text-align: right;">
                    $@subtotal
                </td>
            </tr>
        </table>
        <hr class="margin-y-sm" />
        <table class="full-width">
            <tbody>
                <tr>
                    <td style="width: 70%;"></td>
                    <th style="width: 15%;">Total</th>
                    <th style="width: 15%; text-align: right;">$@(subtotal)</th>
                </tr>
                <tr>
                    <td style="width: 70%;"></td>
                    <th style="width: 15%;">Payment Method</th>
                    <th style="width: 15%; text-align: right;">@(Model.Transaction.PaymentInstrument)</th>
                </tr>
                <tr>
                    <td style="width: 70%;"></td>
                    <th style="width: 15%;">Payment</th>
                    <th style="width: 15%; text-align: right;">$@(Model.Transaction.PaymentAmount)</th>
                </tr>
                <tr>
                    <td style="width: 70%;"></td>
                    <th style="width: 15%;">Change Due</th>
                    <th style="width: 15%; text-align: right;">$@(Model.Transaction.PaymentAmount - (subtotal))</th>
                </tr>
            </tbody>s
        </table>
        <hr class="margin-y-sm" />
        <table class="full-width">
            <tr>
                <td>
                    <h3 class="full-width text-center">
                        @(
                            new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc)
                            .AddSeconds(
                                Model.Transaction.PaymentTimestamp
                            )
                            .ToLocalTime()
                            .ToString()
                        )
                    </h3>
                </td>
            </tr>
        </table>
    </div>