﻿@using eGov_POC_Cashiering_System.Models
@using eGov_POC_Cashiering_System.App_Code
@{
    ViewBag.Title = "Sales";
}
@model SalesViewModel

@{
    int quantity = Model.Transaction.Items.Aggregate(0, (acc, item) => acc + item.Quantity);
    decimal subtotal = Model.Transaction.Items.Aggregate(0, (decimal acc, TransactionItem item) => acc + (item.Price * (decimal)(item.Quantity)));
}

<div class="row padding-bottom-md">
    <div class="col-sm-4">
        @using (Html.BeginForm("SetRegisterMode", "Sales"))
        {
            <label class="col-sm-2 control-label">Mode:</label>
            <div class="col-sm-6">
                <select class="form-control" name="registerMode" onchange="SubmitClosestForm(this)">
                    @if (Utilities.HasPrivilege(User, "Sale"))
                    {
                        <option selected="@(Model.Transaction.Type == "Sale")" value="Sale">Sale</option>
                    }
                    @if (Utilities.HasPrivilege(User, "Return"))
                    {
                        <option selected="@(Model.Transaction.Type == "Return")" value="Return">Return</option>
                    }
                    @if (Utilities.HasPrivilege(User, "CancelReceipt"))
                    {
                        <option selected="@(Model.Transaction.Type == "CancelReceipt")" value="CancelReceipt">Cancel Receipt</option>
                    }
                </select>
            </div>
        }
    </div>
    <div class="col-md-4">
        @if (Model.Transaction.Type == "CancelReceipt")
        {
            using (Html.BeginForm("CancelReceipt", "Sales", FormMethod.Post, new { style = "display: flex;" }))
            {
                <input type="text" name="receiptNumber" autocomplete="off" class="form-control" placeholder="Enter receipt number here...">
                <div class="btn btn-sm btn-danger" tabindex="13" onclick="SubmitClosestForm(this);">
                    Cancel Receipt
                </div>
            }
            if (Request.QueryString["receiptNotFound"] != null)
            {
                <div class="text-danger">
                    Receipt not found.
                </div>
            }
            else if (Request.QueryString["receiptCancelled"] != null)
            {
                <div class="text-success">
                    Receipt cancelled.
                </div>
            }
        }
        else
        {
            using (Html.BeginForm("AddItem", "Sales"))
            {
                <input type="hidden" name="itemToAdd">
                <input type="text" autocomplete="off" name="itemToAddFinder" class="form-control" placeholder="Type item here...">
            }
        }
    </div>
</div>
@if (Model.Transaction.Type != "CancelReceipt")
{
    <div class="row padding-bottom-md">
        <div class="col-sm-9">
            <div class="div-table">
                <div>
                    <div class="div-table-cell middle th col-sm-4">
                        Name
                    </div>
                    <div class="div-table-cell middle th col-sm-2">
                        Price
                    </div>
                    <div class="div-table-cell middle th col-sm-2">
                        Quantity
                    </div>
                    <div class="div-table-cell middle th col-sm-2">
                        Total
                    </div>
                    <div class="div-table-cell middle th col-sm-2">
                        Actions
                    </div>
                </div>
                @if (Model.Transaction.Items != null && Model.Transaction.Items.Count() > 0)
                {
                    foreach (TransactionItem item in Model.Transaction.Items)
                    {
                        <div>
                            @using (Html.BeginForm("SaveItem", "Sales"))
                            {
                                <div class="div-table-cell middle td col-sm-4">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </div>
                                <div class="div-table-cell middle td col-sm-2">
                                    $ @Html.DisplayFor(modelItem => item.Price)
                                </div>
                                if (Request.QueryString["editing"] == item.ID)
                                {
                                    <div class="div-table-cell middle td col-sm-2">
                                        <input type="number" autocomplete="off" name="quantity" class="form-control" value="@Html.DisplayFor(modelItem => item.Quantity)">
                                    </div>
                                }
                                else
                                {
                                    <div class="div-table-cell middle td col-sm-2">
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </div>
                                }
                                <div class="div-table-cell middle td col-sm-2">
                                    $ @Html.DisplayFor(modelItem => item.Total)
                                </div>
                                if (Request.QueryString["editing"] == item.ID)
                                {
                                    <div class="div-table-cell middle td col-sm-2">
                                        <input type="hidden" name="ID" value="@Html.DisplayFor(modelItem => item.ID)">
                                        <div class="btn btn-sm btn-success" onclick="SubmitClosestForm(this);">
                                            Save
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="div-table-cell middle td col-sm-2">
                                        @using (Html.BeginForm("EditItem", "Sales", FormMethod.Post, new { @class = "pull-left" }))
                                        {
                                            <input type="hidden" name="ID" value="@Html.DisplayFor(modelItem => item.ID)">
                                            <div class="btn btn-sm btn-default" onclick="SubmitClosestForm(this);">
                                                Edit
                                            </div>
                                        }
                                        @using (Html.BeginForm("RemoveItem", "Sales", FormMethod.Post, new { @class = "pull-right" }))
                                        {
                                            <input type="hidden" name="ID" value="@Html.DisplayFor(modelItem => item.ID)">
                                            <div class="btn btn-sm btn-danger" onclick="SubmitClosestForm(this);">
                                                Remove
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-center">Empty.</h4>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-3">
            @using (Html.BeginForm("Complete", "Sales"))
            {
                <div class="panel-body" style="border: 1px solid #eeeeee;">
                    <label class="control-label margin-x-auto">Order details</label>
                    <span class="padding-bottom-md margin-x-auto" style="display: block;">Complete last</span>
                    <table class="full-width">
                        <tr>
                            <td style="width: 55%;">Customer ID (TRN)</td>
                            <td style="width: 45%; text-align: right;">
                                <input autocomplete="off" type="text" class="form-control input-sm" name="customerID" value="@Html.DisplayFor(modelItem => Model.Transaction.CustomerID)">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 55%;">Customer Name</td>
                            <td style="width: 45%; text-align: right;">
                                <input autocomplete="off" type="text" class="form-control input-sm" name="customerName" value="@Html.DisplayFor(modelItem => Model.CustomerName)">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 55%;">Payee ID (TRN)</td>
                            <td style="width: 45%; text-align: right;">
                                <input autocomplete="off" type="text" class="form-control input-sm" name="payeeID" value="@Html.DisplayFor(modelItem => Model.Transaction.PayeeID)">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 55%;">Payee Name</td>
                            <td style="width: 45%; text-align: right;">
                                <input autocomplete="off" type="text" class="form-control input-sm" name="payeeName" value="@Html.DisplayFor(modelItem => Model.PayeeName)">
                            </td>
                        </tr>
                    </table>
                    <hr class="margin-y-sm" />
                    <table class="full-width">
                        <tr>
                            <td style="width: 55%;">Quantity</td>
                            <td style="width: 45%; text-align: right;">
                                @quantity
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 55%;">Total</td>
                            <td style="width: 45%; text-align: right;">
                                $@subtotal
                            </td>
                        </tr>
                    </table>
                    <div class="full-width">
                        <table class="full-width">
                            <tbody>
                                <tr>
                                    <td>Method:&nbsp;</td>
                                    <td>
                                        <div class="btn-group bootstrap-select show-menu-arrow fit-width margin-y-md">
                                            <select name="paymentInstrument" class="form-control show-menu-arrow" data-style="btn-default btn-sm" data-width="fit" tabindex="-98">
                                                <option value="Cash">Cash</option>
                                                @if (Model.Transaction.Type != "Return")
                                                {
                                                    <option value="Debit Card">Debit Card</option>
                                                    <option value="Credit Card">Credit Card</option>
                                                }
                                                <option value="Due">Due</option>
                                                <option value="Cheque">Cheque</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 50%;">Payment</td>
                                    <th>
                                        @if (Model.Transaction.Type == "Return")
                                        {
                                            <span>$&nbsp;-&nbsp;</span><input autocomplete="off" type="number" step=".01" name="paymentAmount" class="form-control input-sm" style="display: inline;width: calc(100% - 3em);" onclick="this.select();">
                                        }
                                        else
                                        {
                                            <span>$&nbsp;</span><input autocomplete="off" type="number" step=".01" name="paymentAmount" class="form-control input-sm" style="display: inline;width: calc(100% - 1em);" onclick="this.select();">
                                        }
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <table class="full-width">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="btn btn-sm btn-success pull-left" tabindex="13" onclick="SubmitClosestForm(this);">
                                            <span class="glyphicon glyphicon-usd">&nbsp;</span>Complete @Model.Transaction.Type
                                        </div>
                                    </td>
                                    <td>
                                        @using (Html.BeginForm("Cancel", "Sales", FormMethod.Post, new { @class = "pull-right" }))
                                        {
                                            <div class="btn btn-sm btn-danger" onclick="SubmitClosestForm(this);">
                                                <span class="glyphicon glyphicon-remove">&nbsp;</span>Cancel
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (Model.Transaction.Type != "CancelReceipt")
{
    <script>
        window.addEventListener("load", function (event) {
            autocomplete(document.getElementsByName("itemToAddFinder")[0], @Html.Raw(Json.Encode(Model.Items)), function(el) {
                SubmitClosestForm(el);
            });
        }, false);
    </script>
}
