﻿@using System.Text.RegularExpressions
@using eGov_POC_Cashiering_System.Models
@{
    ViewBag.Title = Regex.Replace(Model.InsightType, "(\\B[A-Z])", " $1");
    if(Model.Location == null)
    {
        Model.Location = Model.Locations[0].ID;
    }
}
@model InsightsViewModel

    <div class="row">
        <div class="col-sm-4 padding-none">
            @using (Html.BeginForm("SetInsightType", "Insights"))
            {
                <label class="col-sm-2 control-label">Type:</label>
                <div class="col-sm-9 padding-none">
                    <select class="form-control" name="insightType" onchange="SubmitClosestForm(this)">
                        @*<option selected="@(Model.InsightType == "AuditTrail")" value="AuditTrail">Audit Trail</option>*@
                        <option selected="@(Model.InsightType == "CashierTransactionReport")" value="CashierTransactionReport">Cashier Transaction Report</option>
                        <option selected="@(Model.InsightType == "CashierSummaryReport")" value="CashierSummaryReport">Cashier Summary Report</option>
                        <option selected="@(Model.InsightType == "CashiersLoggedOn")" value="CashiersLoggedOn">Cashiers Logged On</option>
                    </select>
                </div>
            }
        </div>
        <div class="col-md-4 padding-none">
            @using (Html.BeginForm("SetLocation", "Insights"))
            {
                <label class="col-sm-3 control-label">Location:</label>
                <div class="col-sm-9 padding-none">
                    <select class="form-control" name="ID" onchange="SubmitClosestForm(this)">
                        @foreach (Location Location in Model.Locations)
                        {
                            if (Location.ID == Model.Location)
                            {
                                <option value="@Location.ID" selected>@Location.Name</option>
                            }
                            else
                            {
                                <option value="@Location.ID">@Location.Name</option>
                            }
                        }
                    </select>
                </div>
            }
        </div>
        <div class="col-md-4 padding-none">
            @if (Model.InsightType == "CashierTransactionReport" || Model.InsightType == "CashierSummaryReport")
            {
                using (Html.BeginForm("SetCashier", "Insights"))
                {
                    <label class="col-sm-3 control-label">Cashier:</label>
                    <div class="col-sm-9 padding-none">
                        <select class="form-control" name="ID" onchange="SubmitClosestForm(this)">
                            @foreach (Employee Employee in Model.Employees)
                            {
                                if (
                                    Employee.Location == Model.Location
                                    &&
                                    Employee.Roles.Find(x => x.ID == Model.EmployeeRoleProperties.Find(x2 => x2.Name == "Cashier").ID) != null
                                )
                                {
                                    if (Employee.ID == Model.Cashier)
                                    {
                                        <option value="@Employee.ID" selected>@Employee.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@Employee.ID">@Employee.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                }
            }
        </div>
        <br><br>
        <div class="col-md-3 padding-none">
            @if (Model.InsightType == "CashierTransactionReport")
            {
                using (Html.BeginForm("SetSortBy", "Insights", FormMethod.Post, new { @class = "col-sm-12" } ))
                {
                    <label class="col-sm-4 control-label">Sort by:</label>
                    <div class="col-sm-7 padding-none">
                        <select class="form-control" name="sortBy" onchange="SubmitClosestForm(this)">
                            <option selected="@(Model.SortBy == "PaymentTimestamp")" value="PaymentTimestamp">Payment Date</option>
                            <option selected="@(Model.SortBy == "CancelTimestamp")" value="CancelTimestamp">Cancel Date</option>
                        </select>
                    </div>
                }
            }
        </div>
        <div class="col-md-5 padding-none">
            @if (Model.InsightType == "CashierTransactionReport" || Model.InsightType == "CashierSummaryReport")
            {
                double Now = (DateTime.UtcNow - new DateTime(1970, 1, 1)).TotalSeconds;
                string Start = (new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc).AddSeconds(Model.StartDate < Now ? Model.StartDate : Now).ToLocalTime().ToString("yyyy-MM-dd"));
                string End = (new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc).AddSeconds(Model.EndDate < Now ? Model.EndDate : Now).ToLocalTime().ToString("yyyy-MM-dd"));
                string EndMax = (new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc).AddSeconds(Now)).ToString("yyyy-MM-dd");

                <label class="col-sm-3 control-label">Date Range:</label>
                <div class="col-sm-9 padding-none">
                    @using (Html.BeginForm("SetStartDate", "Insights", FormMethod.Post, new { @class = "col-sm-5 padding-none" }))
                    {
                        <input type="date" autocomplete="off" name="StartDate" class="form-control" max="@End" value="@Start" onchange="SubmitClosestForm(this)">
                    }
                    <h4 class="col-sm-2 text-center">to</h4>
                    @using (Html.BeginForm("SetEndDate", "Insights", FormMethod.Post, new { @class = "col-sm-5 padding-none" }))
                    {
                        <input type="date" autocomplete="off" name="EndDate" class="form-control" min="@Start" max="@EndMax" value="@End" onchange="SubmitClosestForm(this)">
                    }
                </div>
            }
        </div>
    </div>
<div id="insight" class="padding-bottom-md">
    <table class="full-width">
        <tr>
            <td style="width: 25%;">
            </td>
            <td style="width: 50%;">
                <h3 class="full-width text-center">
                    eGov's @ViewBag.Title
                </h3>
            </td>
            <td style="width: 25%; text-align: right;">
                <div class="btn btn-sm btn-default" onclick="$('#insight').printThis();">
                    <span class="glyphicon glyphicon-print">&nbsp;</span>Print
                </div>
            </td>
        </tr>
    </table>
    <hr class="margin-y-sm" />
    <br />
    @if (Model.InsightType == "CashierTransactionReport")
    {
        <table class="full-width">
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Receipt Amount
                </th>
                <th>
                    Payment Instrument
                </th>
                <th>
                    Receipt Date
                </th>
                <th>
                    Cancelled Date
                </th>
            </tr>
            @foreach (
                Transaction item in (
                    Model.Transactions.Where(
                        x =>
                            x.CashierID == Model.Cashier
                            &&
                            x.CashierLocation == Model.Location
                            &&
                            ((Model.SortBy == "PaymentTimestamp" ? x.PaymentTimestamp : x.CancelTimestamp) >= Model.StartDate)
                            &&
                            ((Model.SortBy == "PaymentTimestamp" ? x.PaymentTimestamp : x.CancelTimestamp) <= Model.EndDate)
                    ).OrderBy(
                        x => Model.SortBy == "PaymentTimestamp" ? x.PaymentTimestamp : x.CancelTimestamp
                    )
                )
            )
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.PaymentAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentInstrument)
                    </td>
                    <td>
                        @(
                            new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc)
                            .AddSeconds(
                                item.PaymentTimestamp
                            )
                        )
                    </td>
                    <td>
                        @(
                            new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc)
                            .AddSeconds(
                                item.CancelTimestamp
                            )
                        )
                    </td>
                </tr>
            }
        </table>
    }
    else if (Model.InsightType == "CashierSummaryReport")
    {
        <table class="full-width">
            <tr>
                <th>
                    Overall Total
                </th>
                <th>
                    Cancelled Total
                </th>
                <th>
                    Net Amount
                </th>
            </tr>
            @{
                decimal Total = Model.Transactions.Aggregate(
                    0,
                    (decimal acc, Transaction x) => {
                        if (
                            x.CashierID == Model.Cashier
                            &&
                            (
                                x.PaymentTimestamp >= Model.StartDate || x.CancelTimestamp <= Model.StartDate
                            )
                            &&
                            (
                                x.PaymentTimestamp <= Model.EndDate || x.CancelTimestamp <= Model.EndDate
                            )
                        )
                        {
                            return acc + x.PaymentAmount;
                        }
                        else
                        {
                            return acc;
                        }
                    }
                );
                decimal Cancelled = Model.Transactions.Aggregate(
                    0,
                    (decimal acc, Transaction x) =>
                    {
                        if (
                            x.CashierID == Model.Cashier
                            &&
                            x.CancelTimestamp != 0
                            &&
                            (
                                x.PaymentTimestamp >= Model.StartDate || x.PaymentTimestamp <= Model.StartDate
                            )
                            &&
                            (
                                x.PaymentTimestamp <= Model.EndDate || x.PaymentTimestamp <= Model.EndDate
                            )
                        )
                        {
                            return acc + x.PaymentAmount;
                        }
                        else
                        {
                            return acc;
                        }
                    }
                );
            }
            <tr>
                <td>
                    $ @Total
                </td>
                <td>
                    $ @Cancelled
                </td>
                <td>
                    $ @(Total - Cancelled)
                </td>
            </tr>
        </table>
    }
    else if (Model.InsightType == "CashiersLoggedOn")
    {
        <table class="full-width">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Login Date & Time
                </th>
                <th>
                    Logout Date & Time
                </th>
            </tr>
            @foreach (
                LoginTracker item in Model.LoginTrackers.Where(
                    x =>
                        x.Location == Model.Location
                        &&
                        Model.Employees.Find(
                            x2 => x2.ID == x.UserID
                        ).Roles.Find(x3 => x3.ID == Model.EmployeeRoleProperties.Find(x4 => x4.Name == "Cashier").ID) != null
                        &&
                        x.LoginDateTime >= Model.StartDate
                        &&
                        x.LogoutDateTime <= Model.EndDate
                )
            ){
                <tr>
                    <td>
                        @Model.Employees.Find(x => x.ID == item.UserID).Name
                    </td>
                    <td>
                        @(
                            new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc)
                            .AddSeconds(
                                item.LoginDateTime
                            )
                        )
                    </td>
                    <td>
                        @(
                            new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc)
                            .AddSeconds(
                                item.LogoutDateTime
                            )
                        )
                    </td>
                </tr>
            }
        </table>
    }
    <hr class="margin-y-sm" />
    <br />
    <table class="full-width">
        <tr>
            <td>
                <h3 class="full-width text-center">
                    @(DateTime.Now.ToLocalTime().ToString())
                </h3>
            </td>
        </tr>
    </table>
</div>

<script>
    window.addEventListener("load", function (event) {

    }, false);
</script>